<app-nav></app-nav>

<div class="main">
    <div>
        <h3>Contact Me</h3>
        <p></p>
    </div>
    <div id="form">
        <h3>Leave me a message!</h3>
        <form action="">
                <input type="text" placeholder="Enter your name">
                <br>
                <input type="text" placeholder="Enter your email">
                <br>
                <label for="message">Message</label>
                <br>
                <textarea name="message" id="" 
                placeholder="Enter your message here"
                required ></textarea>
        </form>
    </div>
</div>