<nav>
    <div class="branding">
        <h2>Madison Blotter</h2>
        <h4>Angular Portfolio</h4>
    </div>
    <ul>
        <li>
            <a class="navElement" 
            routerLink="/home" 
            routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true}
            >Home</a>
        </li>
        <li>
            <a class="navElement" routerLink="/projects" routerLinkActive="active">Projects</a>
        </li>
        <li>
            <a class="navElement" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
    </ul>
</nav>