<div class="calculator">
    <div class="buttons">
        <input id="txtbox" type="text" placeholder="project in progress...">
        <div class="row">
            <input type="button" value="1">
            <input type="button" value="2">
            <input type="button" value="3">
            <input class="operation" type="button" value="+">
        </div>
        <div class="row">
            <input type="button" value="4">
            <input type="button" value="5">
            <input type="button" value="6">
            <input class="operation" type="button" value="-">
        </div>
        <div class="row">
            <input type="button" value="7">
            <input type="button" value="8">
            <input type="button" value="9">
            <input class="operation" type="button" value="/">
        </div>
        <div class="row">
            <input class="operation" type="button" value="=">
            <input type="button" value="0">
            <input class="operation" type="button" value="AC">
            <input class="operation" type="button" value="X">
        </div>
    </div>
</div>